*
{
    margin:0;
    padding: 0;
}
body
{
    background-image: url(https://th.bing.com/th/id/OIP.gMtM38HA-ItgJc3_lDHdUAHaEK?rs=1&pid=ImgDetMain);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.countdown
{
    display: flex;
} 

.time
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}
small{
    font-size: 20px;
    
}

.year
{
    position: absolute;
    bottom:30px;
    font-size: 90px;
    opacity:0.6;
    text-align: center;
    margin-left: 90px;
}
h1{
    color: rgb(123, 239, 152);
}